<!DOCTYPE html>
<html ng-app="agendaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Agenda Telefônica</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container-fluid">
	<div class="row" ng-controller="listaTelefonicaCtrl">
	<h2>{{app}}</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th>Codigo</th>
			</tr>
		</thead>
		<tbody class="table table-hover">
			<tr ng-repeat="contato in contatos">
				<td>
					<input type="checkbox">
				</td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}} </td>
				<td>{{contato.operadora.codigo}}</td>
			</tr>
		</tbody>
	</table>
	</div>

	</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>